@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.main {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.sidemenu{
  width: 260px;
  background-color: #202123;
  padding:40px ;
}
 .chatbox{
  flex:1;
background-color:#343541 ;
padding: 10px;
position: relative;

}
 .sideMenuButton{
 padding: 12px;
 border: 1px solid white;
 border-radius: 5px;
 text-align: left;
 transition: ease 0.25s all;

}
.sideMenuButton:hover{
 background-color: rgba(255,255,255,0.1);
 
 }
 .sideMenuButton span{
  padding-left: 6px;
  padding-right: 12px;
}


 .chatInputHolder{
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

}
 .chatInputTextarea{
  background-color:#40414f ;
  width: 90%;
  border-radius:5px;
  border: none;
 margin: 12px;
 outline: none;
 box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
 padding: 12px;
 color: white;
 font-size: 1.25em;
}

 .chatLog{
text-align: left;

}

.chatMessageCont .chatgpt{
  
  background-color: #444654;
}
.chatMessageCont .chatgpt{
  
  background-color: #444654;
}

 .chatMessageCenter{
  max-width:640px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  padding:12px;
  padding-left: 24px;
  padding-right: 24px;
}
.chatMessageCont .avatar{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #787a95;
}

 .message{
  padding: 12px;
}



 .faresImage{
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}